docs/n8n-workflows/Empliq - Pipeline Monitor v2.json
{
  "name": "Empliq - Pipeline Monitor v2",
  "nodes": [
    {
      "parameters": {},
      "id": "mon2-01-trigger",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'enriched') as enriched,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'failed') as failed,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'failed_retry') as failed_retry,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'not_found_datosperu') as not_found,\n  COUNT(*) FILTER (WHERE data->>'retry_at' IS NOT NULL AND data->>'scrape_status' = 'enriched') as fixed_by_retry,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier1') as tier1,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier2') as tier2,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier3') as tier3,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier4') as tier4,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier5') as tier5,\n  COUNT(*) FILTER (WHERE data->>'error_type' = 'proxy_error') as err_proxy,\n  COUNT(*) FILTER (WHERE data->>'error_type' = 'parse_error') as err_parse,\n  COUNT(*) FILTER (WHERE data->>'error_type' = 'not_found') as err_not_found,\n  ROUND(AVG((data->>'scrape_duration_ms')::numeric / 1000) FILTER (WHERE data->>'scrape_status' = 'enriched'), 1) as avg_sec,\n  ROUND(AVG((data->>'fields_extracted')::numeric) FILTER (WHERE data->>'scrape_status' = 'enriched'), 0) as avg_fields,\n  MIN(created_at) as started_at,\n  MAX(updated_at) as last_updated\nFROM companies_raw\nWHERE source IN ('n8n_datosperu_v6', 'n8n_datosperu_t45');",
        "options": {}
      },
      "id": "mon2-02-stats",
      "name": "Query Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ruc, razon_social,\n  data->>'scrape_status' as status,\n  data->>'fields_extracted' as fields,\n  data->>'error_type' as error_type,\n  data->>'tier' as tier,\n  updated_at\nFROM companies_raw\nWHERE source IN ('n8n_datosperu_v6', 'n8n_datosperu_t45')\nORDER BY updated_at DESC\nLIMIT 10;",
        "options": {}
      },
      "id": "mon2-03-recent",
      "name": "Last 10 Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ruc, razon_social,\n  data->>'scrape_status' as status,\n  data->>'scrape_error' as error,\n  data->>'error_type' as error_type,\n  data->>'tier' as tier,\n  data->>'retry_at' as retry_at\nFROM companies_raw\nWHERE source IN ('n8n_datosperu_v6', 'n8n_datosperu_t45')\n  AND data->>'scrape_status' IN ('failed', 'failed_retry')\nORDER BY updated_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "mon2-04-failures",
      "name": "Failed Companies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, COUNT(*) as cnt, ROUND(AVG(avg_response_ms))::int as avg_ms\nFROM proxies\nGROUP BY status\nORDER BY cnt DESC;",
        "options": {}
      },
      "id": "mon2-05-proxies",
      "name": "Proxy Pool Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        672
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  data->>'batch_number' as batch,\n  COUNT(*) as total,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'enriched') as enriched,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' IN ('failed','failed_retry')) as failing,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'not_found_datosperu') as not_found\nFROM companies_raw\nWHERE source IN ('n8n_datosperu_v6', 'n8n_datosperu_t45')\n  AND data->>'batch_number' IS NOT NULL\nGROUP BY data->>'batch_number'\nORDER BY data->>'batch_number';",
        "options": {}
      },
      "id": "mon2-06-batches",
      "name": "Per-Batch Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        896
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "mon2-07-merge",
      "name": "Wait All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const s = $('Query Stats').first().json;\nconst recent = $('Last 10 Processed').all().map(i => i.json);\nconst failures = $('Failed Companies').all().map(i => i.json);\n\n// Proxy stats\nlet proxyLines = [];\ntry {\n  const px = $('Proxy Pool Stats').all();\n  if (px.length > 0) {\n    proxyLines = px.map(p => `${p.json.status}: ${p.json.cnt} proxies (avg ${p.json.avg_ms || '?'}ms)`);\n  }\n} catch(e) { proxyLines = ['Tabla proxies no disponible']; }\n\n// Per-batch stats\nlet batchLines = [];\ntry {\n  const batches = $('Per-Batch Stats').all();\n  if (batches.length > 0) {\n    batchLines = batches.map(b => {\n      const j = b.json;\n      const pct = j.total > 0 ? ((j.enriched / j.total) * 100).toFixed(1) : '0';\n      return `Batch ${j.batch}: ${j.enriched}/${j.total} enriched (${pct}%) | ${j.failing} failed | ${j.not_found} not_found`;\n    });\n  }\n} catch(e) { batchLines = ['Sin datos de batch (batch_number no asignado)']; }\n\nconst total = parseInt(s.total) || 0;\nconst enriched = parseInt(s.enriched) || 0;\nconst failed = parseInt(s.failed) || 0;\nconst failedRetry = parseInt(s.failed_retry) || 0;\nconst notFound = parseInt(s.not_found) || 0;\nconst fixedByRetry = parseInt(s.fixed_by_retry) || 0;\nconst TARGET = 872051;\n\nconst t1 = parseInt(s.tier1) || 0;\nconst t2 = parseInt(s.tier2) || 0;\nconst t3 = parseInt(s.tier3) || 0;\nconst t4 = parseInt(s.tier4) || 0;\nconst t5 = parseInt(s.tier5) || 0;\n\nconst errProxy = parseInt(s.err_proxy) || 0;\nconst errParse = parseInt(s.err_parse) || 0;\nconst errNotFound = parseInt(s.err_not_found) || 0;\n\nconst avgSec = s.avg_sec || 'N/A';\nconst remaining = TARGET - total;\nconst processingRate = parseFloat(avgSec || 5) + 15; // avg scrape + 15s wait\nconst etaHours = remaining > 0 ? Math.round(remaining * processingRate / 3600) : 0;\nconst etaDays = remaining > 0 ? (etaHours / 24).toFixed(1) : '0';\n\nconst processed = total - notFound; // excludes not_found for success rate\nconst successRate = processed > 0 ? ((enriched / processed) * 100).toFixed(1) : '0';\nconst totalErrors = failed + failedRetry;\n\nreturn { json: {\n  report: [\n    '══════════════════════════════════════════════════',\n    '  EMPLIQ PIPELINE MONITOR v2.1',\n    '  Target: 872,051 empresas (Padrón RUC completo)',\n    '  Arquitectura: 10 batches × ~87K | Retry cada 2h',\n    '══════════════════════════════════════════════════',\n    '',\n    `🎯 PROGRESO GLOBAL: ${total.toLocaleString()} / ${TARGET.toLocaleString()} (${((total/TARGET)*100).toFixed(2)}%)`,\n    `   Pendientes: ${remaining.toLocaleString()} | ETA: ~${etaHours}h (~${etaDays} días)`,\n    '',\n    '── RESULTADOS ──────────────────────────────────',\n    `   ✅ Enriched:        ${enriched.toLocaleString()}`,\n    `   🚫 Not Found:       ${notFound.toLocaleString()} (permanente, no se reintenta)`,\n    `   ❌ Failed:          ${failed.toLocaleString()} (primer intento)`,\n    `   ❌ Failed Retry:    ${failedRetry.toLocaleString()} (reintento fallido)`,\n    `   🔄 Fixed by Retry:  ${fixedByRetry.toLocaleString()} (recuperados)`,\n    `   📊 Success Rate:    ${successRate}% (excluyendo not_found)`,\n    '',\n    '── POR TIER ────────────────────────────────────',\n    `   Tier 1 (≥1000 emp):  ${t1.toLocaleString()}`,\n    `   Tier 2 (500-999):    ${t2.toLocaleString()}`,\n    `   Tier 3 (100-499):    ${t3.toLocaleString()}`,\n    `   Tier 4 (50-99):      ${t4.toLocaleString()}`,\n    `   Tier 5 (0-49):       ${t5.toLocaleString()}`,\n    '',\n    '── ERRORES (tipo) ──────────────────────────────',\n    `   🔌 Proxy Error:  ${errProxy} (proxy caído/blacklisted)`,\n    `   📄 Parse Error:  ${errParse} (HTML inesperado)`,\n    `   🔍 Not Found:    ${errNotFound} (empresa no existe en DatosPeru)`,\n    '',\n    '── PROXIES (tabla proxies) ────────────────────',\n    ...proxyLines.map(l => `   ${l}`),\n    '',\n    '── POR BATCH (/files/all_padron_batch_XX.csv) ─',\n    ...batchLines.map(l => `   ${l}`),\n    '',\n    '── TIMING ──────────────────────────────────────',\n    `   Avg scrape:   ${avgSec}s`,\n    `   Avg fields:   ${s.avg_fields || 'N/A'}`,\n    `   Wait/item:    15s`,\n    `   Rate:         ~${Math.round(3600 / processingRate)}/hora`,\n    `   Started:      ${s.started_at || 'N/A'}`,\n    `   Last update:  ${s.last_updated || 'N/A'}`,\n    '',\n    '── WORKFLOWS ACTIVOS ──────────────────────────',\n    '   📦 Enrichment Batch XX/10  (secuencial, 1 activo a la vez)',\n    '   🔄 Retry Failed Companies  (cada 2h, failed + failed_retry)',\n    '   🔍 Proxy Discover          (cada 6h, fuentes SOCKS5)',\n    '   ✅ Proxy Validate           (cada 30min, POST /proxies/test)',\n    '   🖼️ Logo Pipeline            (logos DatosPeru → Oracle Storage)',\n    '',\n    '── LAST 10 PROCESSED ──────────────────────────',\n    ...recent.map(r => `   ${r.ruc} | ${(r.razon_social||'').substring(0,30).padEnd(30)} | ${(r.status||'').padEnd(20)} | ${r.fields||0} flds | ${r.tier} | ${r.error_type||'ok'}`),\n    '',\n    '── TOP 20 FAILURES ────────────────────────────',\n    `   Total errores activos: ${totalErrors}`,\n    ...failures.map(f => `   ${f.ruc} | ${(f.razon_social||'').substring(0,25)} | [${f.error_type||'?'}] ${(f.error||'no detail').substring(0,45)}`)\n  ].join('\\n')\n}};"
      },
      "id": "mon2-08-format",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Query Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Last 10 Processed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Failed Companies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Proxy Pool Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Per-Batch Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stats": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last 10 Processed": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Failed Companies": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Proxy Pool Stats": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Per-Batch Stats": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Wait All": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "monitor-v2.1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "435d09e19799223d5205d0d5f2cc4ff5a56eaa292cca5c829f633c0f900d3698"
  },
  "tags": []
}