docs/n8n-workflows/Empliq - Proxy Discover.json
{
  "name": "Empliq - Proxy Discover",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "proxy-d01-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/TheSpeedX/PROXY-List/master/socks5.txt",
        "options": {
          "timeout": 30000
        }
      },
      "id": "proxy-d02-fetch-speedx",
      "name": "Fetch TheSpeedX List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.proxyscrape.com/v4/free-proxy-list/get?request=display_proxies&proxy_format=protocolipport&format=text&protocol=socks5&timeout=10000",
        "options": {
          "timeout": 30000
        }
      },
      "id": "proxy-d03-fetch-proxyscrape",
      "name": "Fetch ProxyScrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "proxy-d04-merge",
      "name": "Wait Both Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        80,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse proxy lists from both sources\nconst items = $input.all();\nlet allProxies = new Set();\n\nfor (const item of items) {\n  const text = item.json.data || item.json.body || '';\n  if (typeof text !== 'string' || text.length < 10) continue;\n  \n  const lines = text.split('\\n');\n  for (const line of lines) {\n    const clean = line.trim();\n    // Match ip:port pattern\n    const match = clean.match(/^(\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}):(\\d{2,5})$/);\n    if (match) {\n      allProxies.add(`${match[1]}:${match[2]}`);\n    }\n    // Also match protocol://ip:port\n    const match2 = clean.match(/^socks5:\\/\\/(\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}):(\\d{2,5})$/);\n    if (match2) {\n      allProxies.add(`${match2[1]}:${match2[2]}`);\n    }\n  }\n}\n\nconsole.log(`🔍 Found ${allProxies.size} unique SOCKS5 proxies from sources`);\n\n// Return as items for batch insert\nconst proxyArray = [...allProxies].map(p => {\n  const [ip, port] = p.split(':');\n  return { json: { ip, port: parseInt(port), protocol: 'socks5', source: 'theSpeedX+proxyscrape' } };\n});\n\nreturn proxyArray;"
      },
      "id": "proxy-d05-parse",
      "name": "Parse Proxy Lists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "proxy-d06-loop",
      "name": "Loop Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build batch INSERT ... ON CONFLICT DO UPDATE\nconst items = $input.all();\n\nconst values = items.map(i => {\n  const j = i.json;\n  return `('${j.ip}', ${j.port}, '${j.protocol}', '${j.source}', 'testing')`;\n}).join(',\\n  ');\n\nconst query = `\nINSERT INTO proxies (ip, port, protocol, source, status)\nVALUES\n  ${values}\nON CONFLICT (ip, port, protocol) DO UPDATE SET\n  source = EXCLUDED.source,\n  updated_at = NOW()\nWHERE proxies.status = 'dead'\n  AND proxies.updated_at < NOW() - INTERVAL '1 hour';\n`;\n\nconst inserted = items.length;\nconsole.log(`📥 Upserting batch of ${inserted} proxies`);\n\nreturn { json: { query, count: inserted } };"
      },
      "id": "proxy-d07-build-sql",
      "name": "Build Upsert SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "proxy-d08-insert",
      "name": "Upsert Proxies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "proxy-d09-wait",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1180,
        300
      ],
      "webhookId": "wait-proxy-disc"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Cleanup: delete dead proxies older than 3 days\nDELETE FROM proxies WHERE status = 'dead' AND updated_at < NOW() - INTERVAL '3 days';\n\n-- Stats\nSELECT status, COUNT(*) as cnt FROM proxies GROUP BY status ORDER BY cnt DESC;",
        "options": {}
      },
      "id": "proxy-d10-cleanup",
      "name": "Cleanup & Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        740,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch TheSpeedX List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch ProxyScrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TheSpeedX List": {
      "main": [
        [
          {
            "node": "Wait Both Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ProxyScrape": {
      "main": [
        [
          {
            "node": "Wait Both Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait Both Sources": {
      "main": [
        [
          {
            "node": "Parse Proxy Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Proxy Lists": {
      "main": [
        [
          {
            "node": "Loop Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Batches": {
      "main": [
        [
          {
            "node": "Cleanup & Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Upsert SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upsert SQL": {
      "main": [
        [
          {
            "node": "Upsert Proxies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Proxies": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Loop Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "proxy-discover-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "435d09e19799223d5205d0d5f2cc4ff5a56eaa292cca5c829f633c0f900d3698"
  },
  "tags": []
}
