docs/n8n-workflows/Empliq - Pipeline Monitor v2.json
{
  "name": "Empliq - Pipeline Monitor v2",
  "nodes": [
    {
      "parameters": {},
      "id": "mon2-01-trigger",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'enriched') as enriched,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'failed') as failed,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'failed_retry') as failed_retry,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'not_found_datosperu') as not_found,\n  COUNT(*) FILTER (WHERE data->>'retry_at' IS NOT NULL AND data->>'scrape_status' = 'enriched') as fixed_by_retry,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier1') as tier1,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier2') as tier2,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier3') as tier3,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier4') as tier4,\n  COUNT(*) FILTER (WHERE data->>'tier' = 'tier5') as tier5,\n  COUNT(*) FILTER (WHERE data->>'error_type' = 'proxy_error') as err_proxy,\n  COUNT(*) FILTER (WHERE data->>'error_type' = 'parse_error') as err_parse,\n  COUNT(*) FILTER (WHERE data->>'error_type' = 'not_found') as err_not_found,\n  ROUND(AVG((data->>'scrape_duration_ms')::numeric / 1000) FILTER (WHERE data->>'scrape_status' = 'enriched'), 1) as avg_sec,\n  ROUND(AVG((data->>'fields_extracted')::numeric) FILTER (WHERE data->>'scrape_status' = 'enriched'), 0) as avg_fields,\n  MIN(created_at) as started_at,\n  MAX(updated_at) as last_updated\nFROM companies_raw\nWHERE source IN ('n8n_datosperu_v6', 'n8n_datosperu_t45');",
        "options": {}
      },
      "id": "mon2-02-stats",
      "name": "Query Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ruc, razon_social,\n  data->>'scrape_status' as status,\n  data->>'fields_extracted' as fields,\n  data->>'error_type' as error_type,\n  data->>'tier' as tier,\n  updated_at\nFROM companies_raw\nWHERE source IN ('n8n_datosperu_v6', 'n8n_datosperu_t45')\nORDER BY updated_at DESC\nLIMIT 10;",
        "options": {}
      },
      "id": "mon2-03-recent",
      "name": "Last 10 Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ruc, razon_social,\n  data->>'scrape_status' as status,\n  data->>'scrape_error' as error,\n  data->>'error_type' as error_type,\n  data->>'tier' as tier,\n  data->>'retry_at' as retry_at\nFROM companies_raw\nWHERE source IN ('n8n_datosperu_v6', 'n8n_datosperu_t45')\n  AND data->>'scrape_status' IN ('failed', 'failed_retry')\nORDER BY updated_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "mon2-04-failures",
      "name": "Failed Companies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, COUNT(*) as cnt, ROUND(AVG(avg_response_ms))::int as avg_ms\nFROM proxies\nGROUP BY status\nORDER BY cnt DESC;",
        "options": {}
      },
      "id": "mon2-05-proxies",
      "name": "Proxy Pool Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) FILTER (WHERE logo_bucket_url IS NOT NULL) as logos_ok,\n  COUNT(*) FILTER (WHERE logo_bucket_url IS NULL AND data->>'scrape_status' = 'enriched' AND COALESCE((data->>'logo_attempts')::int, 0) >= 3) as logos_failed_max,\n  COUNT(*) FILTER (WHERE logo_bucket_url IS NULL AND data->>'scrape_status' = 'enriched' AND COALESCE((data->>'logo_attempts')::int, 0) BETWEEN 1 AND 2) as logos_retrying,\n  COUNT(*) FILTER (WHERE logo_bucket_url IS NULL AND data->>'scrape_status' = 'enriched' AND COALESCE((data->>'logo_attempts')::int, 0) = 0) as logos_pending,\n  COUNT(*) FILTER (WHERE data->>'scrape_status' = 'enriched') as total_enriched\nFROM companies_raw\nWHERE source IN ('n8n_datosperu_v6', 'n8n_datosperu_t45');",
        "options": {}
      },
      "id": "mon2-06-logos",
      "name": "Logo Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "mon2-07-merge",
      "name": "Wait All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const s = $('Query Stats').first().json;\nconst recent = $('Last 10 Processed').all().map(i => i.json);\nconst failures = $('Failed Companies').all().map(i => i.json);\n\n// Proxy stats\nlet proxyData = {};\ntry {\n  const px = $('Proxy Pool Stats').all();\n  px.forEach(p => { proxyData[p.json.status] = { cnt: p.json.cnt, avg_ms: p.json.avg_ms }; });\n} catch(e) {}\n\n// Logo stats\nlet logoData = {};\ntry {\n  logoData = $('Logo Stats').first().json;\n} catch(e) {}\n\nconst total = parseInt(s.total) || 0;\nconst enriched = parseInt(s.enriched) || 0;\nconst failed = parseInt(s.failed) || 0;\nconst failedRetry = parseInt(s.failed_retry) || 0;\nconst notFound = parseInt(s.not_found) || 0;\nconst fixedByRetry = parseInt(s.fixed_by_retry) || 0;\nconst TARGET = 872051;\n\nconst t1 = parseInt(s.tier1) || 0;\nconst t2 = parseInt(s.tier2) || 0;\nconst t3 = parseInt(s.tier3) || 0;\nconst t4 = parseInt(s.tier4) || 0;\nconst t5 = parseInt(s.tier5) || 0;\n\nconst TARGET_T1 = 915, TARGET_T2 = 798, TARGET_T3 = 4410, TARGET_T4 = 4700, TARGET_T5 = 861228;\n\nconst errProxy = parseInt(s.err_proxy) || 0;\nconst errParse = parseInt(s.err_parse) || 0;\nconst errNotFound = parseInt(s.err_not_found) || 0;\n\nconst avgSec = parseFloat(s.avg_sec) || 0;\nconst remaining = TARGET - total;\nconst rate = avgSec > 0 ? Math.round(3600 / (avgSec + 15)) : 0;\nconst etaHours = rate > 0 ? Math.round(remaining / rate) : 0;\nconst etaDays = rate > 0 ? (etaHours / 24).toFixed(1) : '?';\n\nconst processed = total - notFound;\nconst successRate = processed > 0 ? ((enriched / processed) * 100).toFixed(1) : '0';\nconst totalErrors = failed + failedRetry;\n\n// Logo KPIs\nconst logosOk = parseInt(logoData.logos_ok) || 0;\nconst logosFailed = parseInt(logoData.logos_failed_max) || 0;\nconst logosRetrying = parseInt(logoData.logos_retrying) || 0;\nconst logosPending = parseInt(logoData.logos_pending) || 0;\nconst logosTotal = parseInt(logoData.total_enriched) || 0;\nconst logoPct = logosTotal > 0 ? ((logosOk / logosTotal) * 100).toFixed(1) : '0';\n\n// Proxy summary\nconst pxActive = proxyData.active || { cnt: 0, avg_ms: '?' };\nconst pxTesting = proxyData.testing || { cnt: 0, avg_ms: '?' };\nconst pxCooldown = proxyData.cooldown || { cnt: 0, avg_ms: '?' };\nconst pxBlacklisted = proxyData.blacklisted || { cnt: 0, avg_ms: '?' };\n\nreturn { json: {\n  '📊 PIPELINE MONITOR v2.1': '═══════════════════════════════',\n  target: `${TARGET.toLocaleString()} empresas (Padrón RUC completo)`,\n  arquitectura: '10 batches × ~87K | Retry cada 2h',\n\n  '🎯 PROGRESO': '═══════════════════════════════',\n  progress: `${total.toLocaleString()} / ${TARGET.toLocaleString()} (${((total/TARGET)*100).toFixed(2)}%)`,\n  remaining: `${remaining.toLocaleString()} pendientes`,\n  eta: `~${etaHours}h (~${etaDays} días)`,\n  rate: `~${rate}/hora`,\n\n  '✅ RESULTADOS': '═══════════════════════════════',\n  enriched: enriched.toLocaleString(),\n  not_found_datosperu: `${notFound.toLocaleString()} (permanente, no retry)`,\n  failed_pending: `${failed.toLocaleString()} (primer intento)`,\n  failed_after_retry: `${failedRetry.toLocaleString()} (retry fallido)`,\n  fixed_by_retry: `${fixedByRetry.toLocaleString()} (recuperados)`,\n  success_rate: `${successRate}% (excluyendo not_found)`,\n\n  '📈 POR TIER': '═══════════════════════════════',\n  tier1: `${t1.toLocaleString()} / ${TARGET_T1.toLocaleString()} (${((t1/TARGET_T1)*100).toFixed(1)}%) — ≥1000 emp`,\n  tier2: `${t2.toLocaleString()} / ${TARGET_T2.toLocaleString()} (${((t2/TARGET_T2)*100).toFixed(1)}%) — 500-999`,\n  tier3: `${t3.toLocaleString()} / ${TARGET_T3.toLocaleString()} (${((t3/TARGET_T3)*100).toFixed(1)}%) — 100-499`,\n  tier4: `${t4.toLocaleString()} / ${TARGET_T4.toLocaleString()} (${((t4/TARGET_T4)*100).toFixed(1)}%) — 50-99`,\n  tier5: `${t5.toLocaleString()} / ${TARGET_T5.toLocaleString()} (${((t5/TARGET_T5)*100).toFixed(1)}%) — 0-49`,\n\n  '❌ ERRORES (por tipo)': '═══════════════════════════════',\n  proxy_errors: `${errProxy} (proxy caído/blacklisted)`,\n  parse_errors: `${errParse} (HTML inesperado)`,\n  not_found_errors: `${errNotFound} (no existe en DatosPeru)`,\n  total_active_errors: totalErrors,\n\n  '🖼️ LOGOS': '═══════════════════════════════',\n  logos_downloaded: `${logosOk.toLocaleString()} / ${logosTotal.toLocaleString()} (${logoPct}%)`,\n  logos_pending: `${logosPending.toLocaleString()} (sin intentar)`,\n  logos_retrying: `${logosRetrying.toLocaleString()} (1-2 intentos, reintentando)`,\n  logos_failed: `${logosFailed.toLocaleString()} (3+ intentos, descartados)`,\n\n  '🔌 PROXIES': '═══════════════════════════════',\n  proxy_active: `${pxActive.cnt} (avg ${pxActive.avg_ms || '?'}ms)`,\n  proxy_testing: `${pxTesting.cnt}`,\n  proxy_cooldown: `${pxCooldown.cnt}`,\n  proxy_blacklisted: `${pxBlacklisted.cnt}`,\n\n  '⏱️ TIMING': '═══════════════════════════════',\n  avg_scrape: `${s.avg_sec || 'N/A'}s`,\n  avg_fields: s.avg_fields || 'N/A',\n  wait_per_item: '15s',\n  started_at: s.started_at || 'N/A',\n  last_updated: s.last_updated || 'N/A',\n\n  '🔄 WORKFLOWS ACTIVOS': '═══════════════════════════════',\n  workflows: [\n    'Enrichment Batch XX/10 (secuencial, 1 a la vez)',\n    'Retry Failed Companies (cada 2h)',\n    'Proxy Discover (cada 6h, SOCKS5)',\n    'Proxy Validate (cada 30min)',\n    'Logo Pipeline (cada 2h, 50/batch)'\n  ],\n\n  '📋 LAST 10': '═══════════════════════════════',\n  recent: recent.map(r =>\n    `${r.ruc} | ${(r.razon_social||'').substring(0,30)} | ${r.status} | ${r.fields||0} fields | ${r.tier} | ${r.error_type || 'ok'}`\n  ),\n\n  '🔄 RETRIES': '═══════════════════════════════',\n  retry_summary: `${fixedByRetry} fixed | ${failedRetry} still failing | ${failed} pending retry`,\n\n  '❌ FAILURES (top 20)': `${totalErrors} total`,\n  failed_list: failures.map(f =>\n    `${f.ruc} | ${(f.razon_social||'').substring(0,30)} | ${f.status} | [${f.error_type||'?'}] ${(f.error||'Unknown error').substring(0,50)}`\n  )\n}};"
      },
      "id": "mon2-08-format",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Query Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Last 10 Processed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Failed Companies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Proxy Pool Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logo Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stats": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last 10 Processed": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Failed Companies": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Proxy Pool Stats": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Logo Stats": {
      "main": [
        [
          {
            "node": "Wait All",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Wait All": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "monitor-v2.2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "435d09e19799223d5205d0d5f2cc4ff5a56eaa292cca5c829f633c0f900d3698"
  },
  "tags": []
}