docs/n8n-workflows/Empliq - Retry Failed Tier4+5.json
{
  "name": "Empliq - Retry Failed Tier4+5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "rt45-01-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ruc, razon_social, data->>'tier' as tier, data->>'scrape_error' as prev_error\nFROM companies_raw\nWHERE source = 'n8n_datosperu_t45'\n  AND data->>'scrape_status' IN ('failed', 'failed_retry')\n  AND COALESCE(data->>'scrape_status', '') != 'not_found_datosperu'\nORDER BY updated_at ASC;",
        "options": {}
      },
      "id": "rt45-02-get-failed",
      "name": "Get Failed RUCs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -180,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\n\nif (count === 0) {\n  console.log('✅ No failed tier4+5 companies to retry!');\n  return [];\n}\n\nconsole.log(`🔄 Retrying ${count} failed tier4+5 companies...`);\nreturn items;"
      },
      "id": "rt45-02b-check",
      "name": "Check if Any Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        500
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "rt45-03-loop",
      "name": "Loop Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        140,
        500
      ]
    },
    {
      "parameters": {
        "url": "=https://scraper.musuq.me/enrich/datosperu?ruc={{ $json.ruc }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "cbbee76f8bed4061fe85a0a3c5d459d9e85dade42a0b4c11575032a0d52680ba"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "rt45-04-enrich",
      "name": "Retry Enrich",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Loop Items').first().json;\nconst dp = $input.first().json;\nconst dpOk = dp.success === true;\n\n// Capture real error info from HTTP response\nlet errorMsg = null;\nlet errorType = dp.errorType || null; // 'not_found' | 'proxy_error' | 'parse_error'\nif (!dpOk) {\n  const parts = [];\n  if (errorType) parts.push(`[${errorType}]`);\n  if (dp.errorMessage) parts.push(dp.errorMessage);\n  else if (dp.error) parts.push(dp.error);\n  else if (dp.message) parts.push(dp.message);\n  else if (dp.statusMessage) parts.push(dp.statusMessage);\n  if (dp.code) parts.push(`[${dp.code}]`);\n  errorMsg = parts.length > 0 ? parts.join(' ') : 'Unknown error on retry';\n}\n\n// Determine scrape_status:\n// - 'enriched' when success\n// - 'not_found_datosperu' when company doesn't exist (permanent, stop retrying)\n// - 'failed_retry' for temporary errors\nlet scrapeStatus = 'failed_retry';\nif (dpOk) {\n  scrapeStatus = 'enriched';\n} else if (errorType === 'not_found') {\n  scrapeStatus = 'not_found_datosperu';\n}\n\nconst data = {\n  name: dpOk ? (dp.nombre || prev.razon_social) : prev.razon_social,\n  estado: dpOk ? (dp.estado || 'ACTIVO') : 'ACTIVO',\n  condicion: 'HABIDO',\n  tipo_empresa: dpOk ? (dp.tipo || null) : null,\n  actividad_ciiu: dpOk ? (dp.ciiu || null) : null,\n  sector_economico: dpOk ? (dp.sectorEconomico || null) : null,\n  comercio_exterior: dpOk ? (dp.marcaComercioExterior || null) : null,\n  direccion: dpOk ? (dp.direccion || null) : null,\n  referencia: dpOk ? (dp.referencia || null) : null,\n  departamento: dpOk ? (dp.departamento || null) : null,\n  provincia: dpOk ? (dp.provincia || null) : null,\n  distrito: dpOk ? (dp.distrito || null) : null,\n  telefonos: dpOk && dp.telefonos ? dp.telefonos : [],\n  website: dpOk ? (dp.web || null) : null,\n  description: dpOk ? (dp.descripcion || null) : null,\n  logo_url: dpOk ? (dp.logoUrl || null) : null,\n  fecha_inicio: dpOk ? (dp.fechaInicio || null) : null,\n  fecha_inscripcion: dpOk ? (dp.fechaInscripcion || null) : null,\n  proveedor_estado: dpOk ? dp.proveedorEstado : false,\n  ejecutivos: dpOk ? (dp.ejecutivos || []) : [],\n  establecimientos_anexos: dpOk ? (dp.establecimientosAnexos || []) : [],\n  historial_trabajadores: dpOk ? (dp.historialTrabajadores || []) : [],\n  historial_condiciones: dpOk ? (dp.historialCondiciones || []) : [],\n  historial_direcciones: dpOk ? (dp.historialDirecciones || []) : [],\n  tier: prev.tier || 'tier1',\n  source_url: dpOk ? (dp.sourceUrl || null) : null,\n  fields_extracted: dpOk ? dp.fieldsExtracted : 0,\n  scrape_duration_ms: dpOk ? dp.durationMs : 0,\n  scrape_status: scrapeStatus,\n  scrape_error: errorMsg,\n  error_type: errorType,\n  prev_error: prev.prev_error || null,\n  retry_at: new Date().toISOString(),\n  scraped_at: new Date().toISOString()\n};\n\nconst status = dpOk ? '✅ FIXED' : (errorType === 'not_found' ? '🚫 NOT ON DATOSPERU' : '❌ STILL FAILING');\nconsole.log(`${status} ${prev.ruc} | ${prev.razon_social} | ${dpOk ? dp.fieldsExtracted + ' fields' : errorMsg}`);\n\nreturn { json: {\n  ruc: prev.ruc,\n  razon_social: dpOk ? (dp.nombre || prev.razon_social) : prev.razon_social,\n  data: data,\n  source: 'n8n_datosperu_v6',\n  updated_at: new Date().toISOString()\n}};"
      },
      "id": "rt45-05-build",
      "name": "Build Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        500
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "value": "public",
          "__rl": true
        },
        "table": {
          "value": "companies_raw",
          "__rl": true
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ruc"
          ],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "rt45-06-upsert",
      "name": "Upsert to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "at5gbOsupi3z6eIA",
          "name": "Empliq Dev DB"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "rt45-07-wait",
      "name": "Wait 20s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1020,
        500
      ],
      "webhookId": "wait-retry-t45"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Get Failed RUCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Failed RUCs": {
      "main": [
        [
          {
            "node": "Check if Any Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Any Failed": {
      "main": [
        [
          {
            "node": "Loop Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Items": {
      "main": [
        null,
        [
          {
            "node": "Retry Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Enrich": {
      "main": [
        [
          {
            "node": "Build Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Record": {
      "main": [
        [
          {
            "node": "Upsert to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to DB": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Loop Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "retry-t45-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "435d09e19799223d5205d0d5f2cc4ff5a56eaa292cca5c829f633c0f900d3698"
  },
  "tags": []
}